.contentConfirm{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 65vh;
    border-radius: 20px;
    background: var(--white-main);
    padding: 3rem;
    gap: 1rem;
    font-size: 16px;
}
.contentConfirm .iconSuccess{
    width: 3rem;
    height: 3rem;
}
.contentConfirm h1{
    font-size: 3rem;
}
.contentConfirm p{
    line-height: 1.5;
}

@media (max-width: 375px) {
    .contentConfirm{
       
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }
    .contentConfirm button{
        position: absolute;
        bottom: 0;
        width: 77%;
        margin-bottom: 1rem;
    }
  }