form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.labelBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label{
    font-size: 14px;
    font-weight: 700;
}

.labelError{
    color: var(--Tomato-main);
}
input{
    list-style: none;
    text-decoration: none;
    padding: .7rem;
    border: 1px solid var(--gray-main);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
input:focus{
    border-color: var(--dark-gray);
    border: 2px solid;
}
input.error{
    border: 2px solid;
    border-color: var(--Tomato-main);
    color: var(--Tomato-main);
}
button{
    text-align: center;
    color: var(--white-main);
    font-weight: 700;
    background: var(--dark-gray);
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: rgba(255, 98, 87, 1.0);
    background: linear-gradient(135deg, rgba(255, 98, 87, 1.0), rgba(244, 190, 132, 1.0));
}